# Database
DATABASE_URL="postgresql://postgres:mnvb090945685@db.prlequnxmnofjonzibqc.supabase.co:5432/postgres"
SUPABASE_URL="https://prlequnxmnofjonzibqc.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBybGVxdW54bW5vZmpvbnppYnFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NzcxMTQsImV4cCI6MjA4ODQ1MzExNH0.d1Nw7bAiwnvHhCbNs56xvJ8I5jgS03ARCMIXEBfKNuY"

# JWT
JWT_SECRET="your-super-secret-key"

# Server Configuration
SYSTEM_NAME="OPDEMRSYS"
SYSTEM_FULL_NAME="OPD EMR System"
PORT=5000
NODE_ENV="development"

# CORS Configuration
FRONTEND_URL="http://localhost:3000"

# Logs
LOG_LEVEL="info"
